rules:
	- Roave\PHPStan\Rules\Floats\DisallowFloatInFunctionSignatureRule
	- Roave\PHPStan\Rules\Floats\DisallowFloatInMethodSignatureRule
	- Roave\PHPStan\Rules\Floats\DisallowFloatPropertyTypeRule

parameters:
	level: max
	paths:
		- src
		- tests
	fileExtensions:
		- php
	excludePaths:
		- tests/temp/*
	treatPhpDocTypesAsCertain: false
	exceptions:
		implicitThrows: false
		checkedExceptionClasses:
			- Satanio\SdkSkeleton\Exceptions\Exception
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
	shipmonkRules:
		enableAllRules: false
		forbidCheckedExceptionInCallable:
			allowedCheckedExceptionCallables: []
			enabled: true
